<?
command = docfile.javadoc[0];
description = command.description.slice(0, 145).replace(/\n/g,' ').trim();

if(command.description.length > 145) {
    description = description.split(/\s/);
    description.pop();
    description = description.join(' ').replace(/\s+/g, ' ').trim() + ' ...';
}
?>name: <?= docfile.filename.slice(0,-3) ?>
category: <?= command.type ?>
tags: api
title: WebdriverIO - <?= docfile.filename.slice(0,-3) ?>
description: "<?= description ?>"
---

# <?= docfile.filename.slice(0,-3) ?>

<?= command.description ?>

### Usage

```js
client.<?= docfile.filename.slice(0,-3) ?>(<?= command.paramStr ?>)
```

### Parameters

| Param | Type | Details |
| ----- | ---- | ------- |
<? command.paramTags.forEach(function(paramTag) { ?>| <?= paramTag.name.replace(/\[|\]/g,'') ?><? if (paramTag.joinedTypes.indexOf('=') > -1) { ?><br><span class="label label-warning">optional</span><? } ?> | <?= paramTag.joinedTypes.replace('=','').replace(/[|\/]/g,'/') ?> | <?= paramTag.description ?> |
<? }) ?>| callback<br><span class="label label-warning">optional</span> | Function | callback function that contains command results and gets called when the command finishes |

<? if (command.examples.length) { ?>
### Example
<? command.examples.forEach(function(example) { ?>
``` <?= example.format ?> <?= example.file ?>
<?= example.code ?>
```
<? }); ?>
<? } ?>

<? tag  = command.raw.tags.filter(function(raw){ return raw.type === 'uses' }); ?>
<? uses = tag.length ? tag[0].string.split(',') : null ?>
<? if (uses && uses.length > 0) { ?>
    ### Uses
    <? uses.forEach(function(command) { ?>* [<?= command.trim() ?>](/api/<?= command.trim() ?>.html)
    <? }) ?>
<? } ?>